<h1>New Image URL</h1>

<%= form_with scope: :imageurl, url: imageurls_path, local: true do |form| %>
    <p>
      <%= form.label :url %>
      <%= form.text_field :url %>
    </p>

    <p>
      <%= form.label :tag_list %>
      <%= form.text_field :tag_list, value: @formatted_tag_list %>
    </p>

    <p>
      <%= form.submit %>
    </p>
<% end %>
