<%= link_to 'Back to home page', '/' %>

<p>
  <strong>Image URL:</strong>
  <%= @imageurl.url %>
</p>

<p>
  <strong>Tags:</strong>
  <div class="tag_list"><%= @sorted_tag_list.join(', ') %></div>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @imageurl.url %>" />
</p>

<% if ENV['SENDGRID_PASSWORD'] %>
  <p>
    <%=link_to 'Share this image', imageurl_url(@imageurl) + '/share' %>
  </p>
<% else %>
  <p>
    <strong>Sharing images is disabled; ask your administrator to
    provision the SendGrid add-on to the image sharer app.</strong>
  </p>
<% end %>
